.b-btn-1{
    width: 9rem;
    height: 2.875rem;
    border-radius: .313rem;
    font-weight: 500;
    font-size: .938rem;
    background-color: #18A0FB;
    color: #fff; 
}

.b-btn-1:hover{
  background-color: #fff;
  color: #18A0FB;
  border: solid .063rem #18A0FB;
}