.sg-btn-3-1,
.sg-btn-3-2,
.sg-btn-3-3 {
  font-weight: 500;
  font-size: .813rem;
  width: 3.625rem;
  height: 2.25rem;
  justify-content: center;
  align-items: center;
}

.sg-btn-3-1 {
  background-color: #18A0FB;
  border-radius: .313rem 0 0 .313rem;
color: #fff;
}

.sg-btn-3-1:hover {
  background-color: #fff;
  border: solid .063rem #E0E0E0;
  color: #18A0FB;
}

.sg-btn-3-2,
.sg-btn-3-3 {
  background-color: #fff;
  color: #18A0FB;
  border: solid .063rem #E0E0E0;
}

.sg-btn-3-2 {
  border-left: unset;
  border-right: unset;
}

.sg-btn-3-2:hover,
.sg-btn-3-3:hover {
  background-color: #2C2C2C;
  border: #2C2C2C;
  color: #fff;
}


.sg-btn-3-3 {
  border-radius: 0 .313rem  .313rem 0;
}