.s-btn-4 {
  width: 6.938rem;
  height: 2.25rem;
  border-radius: .313rem;
  font-weight: 500;
  font-size: .813rem;
  gap: .77rem;
  background-color: #fff;
  color: #18A0FB;
  border: solid .063rem #18A0FB;
}

.s-btn-4:hover {
  background-color: #18A0FB;
  color: #fff;
}