.xs-btn-4 {
  width: 3.188rem;
  height: 1.75rem;
  border-radius: .313rem;
  font-weight: 500;
  font-size: .813rem;
  background-color: #18A0FB;
  color: #fff; 
  margin-left: .813rem;
}

.xs-btn-4:hover {
  background-color: #fff;
  color: #18A0FB;
  border: solid .063rem #18A0FB;
}
