a.button.big-group__item.btn-1-1.df(href="/")
  span.box.btn-1-1__svg-item
    svg.btn-1-1__img-svg.img-svg(width='15', height='15', viewbox='0 0 15 15', fill='none', xmlns='http://www.w3.org/2000/svg')
      path.btn-1-1__path.svg-fill(fill-rule='evenodd', clip-rule='evenodd', d='M6 2C3.79086 2 2 3.79086 2 6C2 8.2091 3.79086 10 6 10C8.2091 10 10 8.2091 10 6C10 3.79086 8.2091 2 6 2ZM0 6C0 2.68629 2.68629 0 6 0C9.3137 0 12 2.68629 12 6C12 7.2958 11.5892 8.4957 10.8907 9.4765L14.7071 13.2929C15.0976 13.6834 15.0976 14.3166 14.7071 14.7071C14.3166 15.0976 13.6834 15.0976 13.2929 14.7071L9.4765 10.8907C8.4957 11.5892 7.2958 12 6 12C2.68629 12 0 9.3137 0 6Z', fill='#2C2C2C')
a.button.big-group__item.btn-1-2.df(href="/")
  span.box.btn-1-2__svg-item
    svg.btn-1-2__img-svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
      path.btn-1-2__path.svg-stroke(d='M4 12V19H20V12' stroke='#2C2C2C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
      path.btn-1-2__path.svg-stroke(d='M12 3.50073L12 13.5007' stroke='#2C2C2C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
      path.btn-1-2__path.svg-stroke(d='M12 13.5007L15.375 10.1257' stroke='#2C2C2C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
      path.btn-1-2__path.svg-stroke(d='M12 13.5007L8.625 10.1257' stroke='#2C2C2C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
a.button.big-group__item.btn-1-3.df(href="/")
  span.box.btn-1-3__svg-item
    svg.btn-1-3__img-svg(width='24', height='24', viewbox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
      path.btn-1-3__path.svg-stroke(d='M15 12.51H15.5V12.01V10.51H16.5V13.01C16.5 13.2869 16.2769 13.51 16 13.51H8C7.72314 13.51 7.5 13.2869 7.5 13.01V10.51H8.5V12.01V12.51H9H15Z', fill='#2C2C2C', stroke='#2C2C2C')
      path.btn-1-3__path.svg-stroke(d='M2.92205 6.30863L2.90861 6.29902L5.3096 3.10657L5.3101 3.1059C5.58912 2.73363 6.0385 2.50903 6.508 2.50903H17.508C17.9791 2.50903 18.4295 2.73545 18.7101 3.11188L18.7105 3.11237L21.1053 6.31638L21.0935 6.32544L21.3866 6.72011C21.4672 6.82871 21.5 6.92251 21.5 7.01003V18.01C21.5 18.8369 20.8269 19.51 20 19.51H4C3.17314 19.51 2.5 18.8369 2.5 18.01V7.01003C2.5 6.92206 2.53338 6.82686 2.615 6.71803L2.92205 6.30863ZM6.508 3.51003H6.2584L6.10838 3.70952L4.60438 5.70952L4.0024 6.51003H5.004H19.003H20.001L19.4035 5.71067L17.9085 3.71067L17.7585 3.51003H17.508H6.508ZM3.5 18.01V18.51H4H20.002H20.5021L20.502 18.0099L20.5 8.00993L20.4999 7.51003H20H4H3.5V8.01003V18.01Z', fill='#2C2C2C', stroke='#2C2C2C')