a.buttons.big-btn__item.s-btn-9(href="/")
  span.box.s-btn-9__svg-item
    svg.s-btn-9__img-svg(width='24', height='24', viewbox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
      path.s-btn-9__path.svg-stroke(d='M4 12V19H20V12', stroke='#2C2C2C', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
      path.s-btn-9__path.svg-stroke(d='M12 3.50073L12 13.5007', stroke='#2C2C2C', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
      path.s-btn-9__path.svg-stroke(d='M12 13.5007L15.375 10.1257', stroke='#2C2C2C', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
      path.s-btn-9__path.svg-stroke(d='M12 13.5007L8.625 10.1257', stroke='#2C2C2C', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
  span.box.s-btn-9__text
    |Download