doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title HW#13 "БЕМ"
		link(rel="stylesheet" href="../assets/styles/index.css")
	body
		main.content.df.c
			h2.content__title Buttons Big
			.content__first-row.df.r
				.big-btn__solo-block.df.w
					include ../pages/components/big_btn-1-d_load-clean-b_w.pug
					include ../pages/components/big_btn-2-d_load-clean-g_g.pug
					include ../pages/components/big_btn-3-d_load-clean-w_bk.pug
					include ../pages/components/big_btn-4-d_load-clean-w_b.pug
					include ../pages/components/big_btn-5-d_load-arrow_r-b_w.pug
					include ../pages/components/big_btn-6-d_load-arrow_r-g_g.pug
					include ../pages/components/big_btn-7-d_load-arrow_r-w_bk.pug
					include ../pages/components/big_btn-8-d_load-arrow_r-w_b.pug
					include ../pages/components/big_btn-9-d_load-l_arrow-b_w.pug
					include ../pages/components/big_btn-10-d_load-l_arrow-g_g.pug
					include ../pages/components/big_btn-11-d_load-l_arrow-w_bk.pug
					include ../pages/components/big_btn-12-d_load-l_arrow-w_b.pug
				.big-btn__group-block.df.c
					.big-btn__warp-group-1.df.r
						include ../pages/components/big_group-1_row.pug
					.big-btn__warp-group-2.df.r
						include ../pages/components/big_group-2_row.pug
					.big-btn__warp-group-3.df.r
						include ../pages/components/big_group-3_row.pug
			h2.content__title Buttons Small
			.content__second-row
				.small-btn__solo-block.df.r
					.small-btn__wrap-solo-block.df.c
						.small-btn__solo-s.df.w
							include ../pages/components/small_btn-1-d_load-clean-b_w.pug
							include ../pages/components/small_btn-2-d_load-clean-g_g.pug
							include ../pages/components/small_btn-3-d_load-clean-w_bk.pug
							include ../pages/components/small_btn-4-d_load-clean-w_b.pug
							include ../pages/components/small_btn-5-d_load-arrow_r-b_w.pug
							include ../pages/components/small_btn-6-d_load-arrow_r-g_g.pug
							include ../pages/components/small_btn-7-d_load-arrow_r-w_bk.pug
							include ../pages/components/small_btn-8-d_load-arrow_r-w_b.pug
							include ../pages/components/small_btn-9-d_load-l_arrow-b_w.pug
							include ../pages/components/small_btn-10-d_load-l_arrow-g_g.pug
							include ../pages/components/small_btn-11-d_load-l_arrow-w_bk.pug
							include ../pages/components/small_btn-12-d_load-l_arrow-w_b.pug
						.small-btn__solo-xs.df.w
							include ../pages/components/xs_btn-1-tag_x-w_bk.pug
							include ../pages/components/xs_btn-2-tag_x-b_w.pug
							include ../pages/components/xs_btn-3-tag-g_bk.pug
							include ../pages/components/xs_btn-4-tag-b_w.pug
					.small-btn__group-block.df.c
						.small-btn__wrap-group-1.df.r
							include ../pages/components/small_group-1_row.pug
							include ../pages/components/small-search-red.pug
							include ../pages/components/big-search-green.pug
						.small-btn__wrap-group-2.df.r
							include ../pages/components/small_group-2_row.pug
						.small-btn__wrap-group-3.df.r
							include ../pages/components/small_group-3_row.pug