.b-btn-5 {
  width: 9rem;
  height: 2.875rem;
  border-radius: .313rem;
  font-weight: 500;
  font-size: .938rem;
  gap: .875rem;
  background-color: #18A0FB;
  color: #fff;

  &__path {
    stroke: #fff;
  }

}

.b-btn-5:hover {
  background-color: #fff;
  color: #18A0FB;
  border: solid .063rem #18A0FB;
}

.b-btn-5:hover .svg-stroke {
  stroke: #18A0FB;
}
