.s-btn-3 {
  width: 6.938rem;
  height: 2.25rem;
  border-radius: .313rem;
  font-weight: 500;
  font-size: .813rem;
  gap: .77rem;
  background-color: #fff;
  color: #2C2C2C;
  border: solid .063rem #E0E0E0;
}

.s-btn-3:hover{
  background-color: #2C2C2C;
  color: #fff;
}
