.xs-btn-3 {
  width: 3.188rem;
  height: 1.75rem;
  border-radius: .313rem;
  font-weight: 500;
  font-size: .813rem;
  background-color: rgba(224, 224, 224, 0.3);
  color: #2C2C2C;
  border: solid .063rem #E0E0E0;
}

.xs-btn-3:hover {
  background-color: #2C2C2C;
  color:  rgba(224, 224, 224, 0.53);
}