@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border-style: none;
  outline: none;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal
}

a:active,
a:focus {
  outline: none
}

body {
  max-width: 1440px;
  max-height: 900px
}

