@font-face {
  font-family: "Baloo Bhai";
  src: url("../assets/fonts/baloobhai/BalooBhai-Regular.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border-style: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
}

a:active,
a:focus {
  outline: none;
}

body {
  /* min-width: 1100px;
  min-height: 600px; */
  max-width: 1440px;
  max-height: 900px;
  display: flex;
}

.menu {
  width: 133px;
  height: 853.12px;
  background: #000000;
  border-radius: 24px;
  margin-top: 24.02px;
  margin-right: 71.98px;
  margin-bottom: 22.85px;
  margin-left: 32.34px;
  position: fixed;
  box-shadow: 26px 19px 20px rgba(0, 0, 0, 0.3);
}

.content {
  max-width: 1123.76px;
  margin-left: 236px;
  margin-right: 66.71px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.head {
  max-width: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 54.5px;
  gap: 63px;
}

.logo {
  width: 42px;
  height: 102px;
  font-family: Baloo Bhai, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  color: #FFFFFF;
  margin: 13px 42.88px 64.33px 46.12px;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 58.5px;
}

.nav-link:last-child {
  margin-top: 162.55px;
}

/* .nav-link {
  border: solid 1px black;
  border-radius: 2px;
}
.nav-link:hover {
  border: solid 1px #fff;
  border-radius: 2px;
} */

.wrap-2 {
  max-width: inherit;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  flex-direction: row;
}

.column-1 {
  margin-top: 12px;
  margin-right: 67.69px;
}

.column-2 {
  width: 620px;
  /* margin-right: 63.9px; */
  margin-top: 29px;
}

.hello {
  min-width: 620px;
  max-width: 850px;
  height: 160px;
  background: #F5F5F7;
  border-radius: 14px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
}


.hello-header {
  margin-top: 48.2px;
  margin-left: 31px;
  width: 179px;
  height: 56px;
  font-family: Baloo Bhai, sans-serif;
  font-size: 36px;
  line-height: 56px;
}

.hello-desc {
  display: block;
  margin-left: 32px;
  width: 187px;
  height: 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 7px;
}

.hello-img {
  display: inherit;
  align-self: flex-end;
  width: 175px;
  height: 191px;
  margin-right: 104px;
}

.tools-self-info {
  max-width: 750px;
  flex-grow: 1;
  width: 438.9px;
  height: 172.72px;
}

.top-tools-panel {
  /* width: 438.9px; */
  height: 43px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* flex-grow: 1; */
  margin-bottom: 23.67px;
}

.search {
  flex-grow: 1;
  min-width: 300px;
  height: 40px;
  border-radius: 8px;
  color: black;
  background-color: #F5F5F7;
  background-image: url(../assets/search.svg);
  background-position: 17px 9px;
  background-repeat: no-repeat;
  padding: 7px 8px 6px 60px;
  outline: none;
  margin-right: 35.41px;
}

.img-notification {
  width: 30.63px;
  height: 36px;
  margin-right: 17px;
  cursor: pointer;
  margin-left: 2px;
  margin-bottom: 11px;
}

.img-userpic {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  margin-right: 8px;
  margin-bottom: 3px;
  cursor: pointer;
}

.img-down-arrow {
  cursor: pointer;
}

.history-active-courses {
  width: 439, 78px;
  height: 106.05px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 23.78px;
}

.counter-history {
  display: inherit;
  width: 208px;
  height: 96.33px;
  background: #F5F5F7;
  border-radius: 14px;
}

.number-item-completed-history {
  margin-top: 3.5px;
  width: 51px;
  margin-left: 36px;
  font-family: Baloo Bhai, sans-serif;
  font-size: 64px;
  line-height: 102px;
}

.desc-item-completed-history {
  width: 76px;
  margin-top: 28px;
  margin-left: 12px;
  font-size: 16px;
  line-height: 24px;
}

.number-item-progress-history {
  margin-top: 3.5px;
  width: 51px;
  margin-left: 38.5px;
  font-family: Baloo Bhai, sans-serif;
  font-size: 64px;
  line-height: 101px;
}

.desc-item-progress-history {
  width: 76px;
  margin-top: 28px;
  margin-left: 3px;
  font-size: 16px;
  line-height: 24px;
}

.active-courses-switcher {
  width: 620px;
  height: 80px;
  display: flex;
  flex-direction: row;
  margin-bottom: 39.81px;
}

.card-active-course {
  width: 500.26px;
  height: 80px;
  background: #F5F5F7;
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 23.64px;
}

.logo-card {
  width: 64px;
  height: 64px;
  background: #FFFFFF;
  border-radius: 12px;
  margin: 8px 0 8px 8px;
}

.img-logo-card {
  width: 32px;
  height: 32px;
  margin: 16px;
}

.name-course {
  margin-top: 1px;
  width: auto;
  height: 26px;
  font-family: Baloo Bhai, sans-serif;
  font-size: 16px;
  line-height: 31px;
}


.author-course {
  width: 135px;
  height: 15px;
  font-size: 13px;
  line-height: 15px;
}

.progress-active-course {
  width: 40px;
  height: 40px;
  background-image: url(../assets/ellips-83.png);
  background-repeat: no-repeat;
  background-size: 99%;
  padding: 9.5px 12.5px 7.5px 8.5px;
  margin-top: 5px;
  margin-left: 29px;

}

.progress-rate {
  width: 25px;
  height: 15px;
  font-size: 13px;
  line-height: 15px;
}

.black-btn {
  width: 120px;
  height: 39px;
  border: 1px solid black;
  background: #000000;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  margin: 20px 24px 20px 24px;
  cursor: pointer;
}

.black-btn:hover {
  width: 120px;
  height: 39px;
  background: #fff;
  border: 1px solid black;
  border-radius: 8px;
  color: black;
}

.btn-switch-course {
  margin-top: 21.83px;
  width: 40px;
  height: 40px;
  border: 2px solid #000000;
  border-radius: 100px;
  background-color: #fff;
  cursor: pointer;
}

.btn-switch-course:hover {
  background-color: rgb(216, 215, 215);
  border-color: rgb(216, 215, 215);
}

.img-left-switch,
.img-right-switch {
  margin-top: 3px;
}

.btn-switch-course:first-of-type {
  margin-right: 16.1px;
}

.available-courses {
  width: 620px;
  height: 554.49px;
}

.tabs-statistic>input[type="radio"],
.tabs-available-courses>input[type="radio"] {
  display: none;
}

.tabs-statistic>div,
.tabs-available-courses>div {
  display: none;
}

#tab-courses-1:checked~#all-courses,
#tab-courses-2:checked~#the-newest,
#tab-courses-3:checked~#top-rated,
#tab-courses-4:checked~#most-popular,
#tab-statistic-1:checked~#learning-hours,
#tab-statistic-2:checked~#my-courses {
  display: block;
}

.tabs-statistic>label,
.tabs-available-courses>label {
  display: inline-block;
  font-family: Baloo Bhai, sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #C2C2C2;
  background-color: inherit;
  cursor: pointer;
  margin-right: 28px;
  margin-bottom: 10.24px;
}

.tabs-statistic>input[type="radio"]:checked+label,
.tabs-available-courses>input[type="radio"]:checked+label {
  font-family: Baloo Bhai, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}

.header-block {
  display: inline-block;
  width: auto;
  height: 38px;
  font-family: Baloo Bhai, sans-serif;
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 16.24px;
}

.img-duration {
  margin-top: 8px;
  margin-right: 8px;
}

.img-rating {
  margin-top: 4px;
  margin-right: 8px;
}

.card-available-course {
  width: 620px;
  height: 80px;
  background: #F5F5F7;
  border-radius: 14px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-block-card-available {
  display: inherit;
}

.right-block-card-available {
  display: inherit;
  align-items: center;
}

.wrap-3 {
  padding-top: 17px;
  padding-left: 10px;
}

.about-course-active {
  margin-left: 8px;
}

.about-course {
  margin-left: 14px;
}

.duration-course {
  margin-top: 5px;
  margin-right: 40px;
  width: auto;
  height: 15px;
  font-size: 13px;
  line-height: 15px;
}

.rating-course {
  margin-top: 7px;
  margin-right: 6px;
}

.column-3 {
  /* width: 449.59px;
  margin-top: 52.25px;
  margin-right: 80.32px; */
}


.self-statistic {
  width: 449.59px;
  height: 378.5px;
  margin-bottom: 49.2px;
}

.btn-statistic {
  margin-left: 85.98px;
  border: solid 1px #F5F5F7;
  width: 86px;
  height: 30px;
  background: #F5F5F7;
  border-radius: 8px;
  cursor: pointer;
}

.item-btn-statistic {
  font-weight: bold;
  font-size: 13px;
  /* margin-left: 8px;
  margin-bottom: 5px; */
  /* line-height: 15px;
  margin-right: 5.6px; */
}

.btn-statistic:hover {
  border: solid 1px black;
  background-color: #fff;
}

.img-tab-item {
  margin-top: 17px;
  width: 470px;
  height: 266px;
}

.img-baustelle-clipart {
  width: auto;
  height: 252px;
  margin-top: 37px;
  margin-left: 54px;
}

.promo-block {
  width: 440px;
  height: 193px;
  background: #F5F5F7;
  border-radius: 14px;
  display: flex;
  flex-direction: row;
}

.item-promo {
  width: 176px;
  height: 153.1px;
  margin: 24.12px 64.32px 15.78px 20px;
}

.desc-promo {
  display: block;
  width: 179px;
  height: 48px;
  margin-bottom: 27px;
  font-size: 16px;
  line-height: 24px;
}

.promo-header-block,
.promo-black-btn {
  margin: 0;
}

.promo-img {
  margin-left: 3px;
  margin-top: 5px;
}