@font-face {
  font-family: "Baloo Bhai";
  src: url("../assets/fonts/baloobhai/BalooBhai-Regular.woff2") format('woff2');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border-style: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal
}

a:active,
a:focus {
  outline: none
}

body {
  min-width: 1100px;
  min-height: 600px;
  max-width: 1440px;
  max-height: 900px
}

.wrapper-page {
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 5.25%;
  padding: 1.7% 2.24% 0.8% 2.3%
}

.sidebar {
  width: 156px;
  min-width: 100px;
  height: 100%;
  min-height: 650px;
  max-height: 853.12px;
  display: inherit;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 44px;
  gap: 11%;
  background: #000000;
  border-radius: 24px;
  box-shadow: 26px 19px 20px rgba(0, 0, 0, 0.3)
}

.brand-name {
  font-family: Baloo Bhai, sans-serif;
  font-size: 64px;
  line-height: 47px;
  color: #FFFFFF
}

.navigation-links {
  height: 64%;
  display: inherit;
  flex-direction: inherit;
  align-items: center;
  gap: 11.5%
}

.nav-link,
.nav-exit-link,
.btn-switch-course {
  transition: .2s
}

.nav-link:hover,
.nav-exit-link:hover,
.btn-switch-course:hover {
  transform: scale(1.2)
}

.exit,
.black-btn {
  background-color: black
}

.main-content {
  height: 100%;
  width: 100%;
  display: inherit;
  flex-direction: row;
  gap: 5.35%
}

.column-main {
  width: 53%;
  max-height: 876px;
  display: inherit;
  flex-direction: column;
  justify-content: flex-start
}

.hello-block {
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-height: 160px;
  margin-top: 32.25px;
  padding-right: 17%;
  padding-left: 4.6%;
  background: #F5F5F7;
  border-radius: 14px
}

.wrap-hello-content {
  margin-top: 5.8%;
  display: inherit;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  height: 53px
}

.head-hello {
  font-family: Baloo Bhai, sans-serif;
  font-size: 36px;
  line-height: 15px
}

.desc-item {
  font-size: 16px;
  line-height: 24px
}

.hello-img {
  display: inherit;
  align-self: flex-end;
  height: 193px
}

.slider-active-courses-cards {
  height: 80px;
  width: 100%;
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin-top: 24.09px;
  margin-bottom: 24.09px
}

.card-active-course {
  display: inherit;
  flex-direction: inherit;
  justify-content: space-between;
  align-items: center;
  min-width: 450px;
  width: 80%;
  height: 100%;
  padding-right: 22px;
  padding-left: 6px;
  background: #F5F5F7;
  border-radius: 14px
}

.warp-logo-card-course {
  width: 64px;
  height: 64px;
  display: inherit;
  justify-content: center;
  align-self: center;
  background: #FFFFFF;
  border-radius: 12px
}

.img-logo-card {
  margin-top: 16px;
  width: 32px;
  height: 32px
}

.warp-logo-about-active-course {
  display: inherit;
  flex-direction: inherit;
  justify-content: space-between;
  width: 51%
}

.wrap-about-course {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 149.2px
}

.name-course {
  font-family: Baloo Bhai, sans-serif;
  font-size: 16px;
  line-height: 26px
}

.author-course {
  font-size: 13px;
  line-height: 15px
}

.warp-rate-btn-active-course {
  display: inherit;
  flex-direction: inherit;
  justify-content: space-between;
  width: 42.5%
}

.progress-active-course {
  width: 40px;
  height: 40px;
  background-image: url(../assets/ellips-83.png);
  background-repeat: no-repeat;
  background-size: 99%;
  padding: 9.5px 12.5px 7.5px 8.5px
}

.progress-rate {
  width: 25px;
  height: 15px;
  font-size: 13px;
  line-height: 15px
}


.black-btn {
  width: 120px;
  height: 41px;
  border: 1px solid black;
  background: #000000;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  cursor: pointer
}

.black-btn:hover {
  background: #fff;
  border: 1px solid black;
  border-radius: 8px;
  color: black
}

.wrap-switch-buttons {
  display: inherit;
  flex-direction: inherit;
  justify-content: space-between;
  width: 96px;
  margin-right: 2px
}

.btn-switch-course {
  width: 40px;
  height: 40px;
  border: 2px solid #000000;
  border-radius: 100px;
  background-color: #fff;
  cursor: pointer
}

.btn-switch-course:hover {
  background-color: rgb(216, 215, 215);
  border-color: rgb(216, 215, 215)
}

.available-courses-block {
  display: inherit;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 4%
}

.head-block {
  font-family: Baloo Bhai, sans-serif;
  font-size: 24px;
  line-height: 19px
}

.tabs-available-courses {
  margin-top: 24px;
  max-height: 87.23%;
  overflow: hidden
}

.tabs-statistics>input[type="radio"],
.tabs-available-courses>input[type="radio"] {
  display: none
}

.tabs-statistics>div,
.tabs-available-courses>div {
  display: none
}

#tab-courses-1:checked~#all-courses,
#tab-courses-2:checked~#the-newest,
#tab-courses-3:checked~#top-rated,
#tab-courses-4:checked~#most-popular,
#tab-statistics-1:checked~#learning-hours,
#tab-statistics-2:checked~#my-courses {
  display: block
}

.tabs-statistics>label,
.tabs-available-courses>label {
  display: inline-block;
  font-family: Baloo Bhai, sans-serif;
  color: #C2C2C2;
  background-color: inherit;
  cursor: pointer;
  margin-right: 26.71px;
  margin-bottom: 11px
}

.tabs-statistics>label:hover,
.tabs-available-courses>label:hover {
  font-weight: 800;
  color: black
}

.tabs-statistics>input[type="radio"]:checked+label,
.tabs-available-courses>input[type="radio"]:checked+label {
  font-family: Baloo Bhai, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 26px;
  color: black
}

.card-available-course {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #F5F5F7;
  border-radius: 14px;
  height: 80px;
  padding-right: 26px;
  padding-left: 6px;
  margin-bottom: 16px
}

.warp-logo-about-available-course {
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
  width: 40.5%
}

.warp-info-course-btn {
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 52.8%
}

.wrap-duration-rating-course,
.wrap-duration-active-course,
.wrap-rating-course {
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
  align-items: center
}

.wrap-duration-rating-course {
  width: 50.5%
}

.img-clock,
.img-flame {
  margin-right: 8px
}

.timemeter-duration-course,
.rating-course-item {
  font-size: 13px;
  line-height: 15px
}

.column-info {
  display: inherit;
  flex-direction: column;
  justify-content: flex-start;
  width: 39.16%;
  max-height: 876px
}

.tools-info-panel {
  height: 160px;
  width: 96%;
  margin-top: 31px;
  margin-bottom: 40px;
  display: inherit;
  flex-direction: inherit;
  justify-content: space-between;
  align-content: space-between
}

.warp-tools {
  display: inherit;
  flex-direction: row;
  justify-content: space-between
}

.search {
  width: 300px;
  height: 40px;
  border-radius: 8px;
  color: black;
  background-color: #F5F5F7;
  background-image: url(../assets/search.svg);
  background-position: 15px 10px;
  background-repeat: no-repeat;
  padding: 7px 8px 6px 49px;
  outline: none
}

.warp-buttons-tools-panel {
  display: inherit;
  justify-content: space-between;
  width: 104px
}

.btn-tools-panel {
  background-color: #fff
}

.img-notification {
  width: 30.63px;
  height: 36px;
  cursor: pointer;
  margin-top: -9px
}

.wrap-user-arrow {
  display: inherit;
  flex-direction: inherit;
  justify-content: space-between;
  width: 55px
}

.img-userpic {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer
}

.img-down-arrow {
  cursor: pointer
}

.warp-counters-history {
  width: 100%;
  display: inherit;
  flex-direction: row;
  justify-content: space-between
}

.counter-history {
  height: 96.33px;
  width: 208px;
  padding-top: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 14px;
  background: #F5F5F7;
  border-radius: 14px
}

.number-item-counter-history {
  font-family: Baloo Bhai, sans-serif;
  font-size: 64px;
  line-height: 50px
}

.desc-item-counter-history {
  width: 76px
}

.self-statistics {
margin-top: 10px;
display: inherit;
flex-direction: column
}


.img-tab-item {
  height: 267px;
  width: 475.59px
}

.tabs-statistics {
  margin-top: 25px;
  
}

.btn-statistics {
  margin-left: 21%;
  border: solid 1px #F5F5F7;
  width: 86px;
  height: 30px;
  background: #F5F5F7;
  border-radius: 8px;
  cursor: pointer
}

.btn-statistics:hover{
  border: solid 1px black;
  background-color: #fff
}

#learning-hours {
  margin-top: 18px
}

.img-baustelle-clipart{
  width: auto;
  height: 252px;
  margin-top: 37px;
  margin-left: 54px;
}

.promo-block {
  margin-top: 45px;
  width: 96%;
  height: 193px;
  display: inherit;
  flex-direction: row;
  justify-content: space-evenly;
  background: #F5F5F7;
  border-radius: 14px;
  padding-top: 17px;
  padding-right: 46px;
  padding-left: 23px
}

.wrap-items-promo {
  display: inherit;
  flex-direction: column;
  justify-content: space-evenly
}